.drawer_container {
  display: none;
}

@media only screen and (max-width: 860px) {
  .drawer_container {
    display: flex;
    justify-self: self-start;
  }

  .drawer {
    width: 65vw;
  }

  .link {
    text-decoration: none;
    color: black;
  }
}
