.optionButton {
    display: flex;
    margin: 1px;
    border-radius: .4vw;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttonContent {
    color: #637381;
    display: flex;
    text-align: center;
}
.buttonContentChecked {    /*#2065d1*/
    color: #5f27cd;
    display: flex;
    text-align: center;
}
.buttonTitle {
    align-self: center;
    display: flex;
    height: fit-content;
}
.icon {
    margin-right: .8vw;
}