.cart_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.empty_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 85%;
    border: 2px solid #b1b1b1
}
.empty_span{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}
.h1_cart{
    letter-spacing: 10px;
    font-size: 80px;
    font-weight: 900;
    font-family: Roboto;
    display: inline-block;
    
   
}
.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    height: auto;
    border: 2px solid #b1b1b1;
    margin: 2vh;
}
.buy_button{
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #5f27cd;
    border: none;
    outline: none;
    font-family: Roboto;
    font-size: 25px;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    transition: transform 0.2s, filter 0.2s;
}
.buy_button:hover{
    cursor: pointer;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 3px rgb(22, 12, 27));
}

.a{
    text-decoration: none;
    color:black
}