.globalContainer {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 0 auto;
}
.carouselContainer {
    display: flex;
    width: auto;
    height: 22vw;
    background-color: #5f27cd;
    justify-content: center;
}
.favoritesContainer {
    display: flex;
    margin: 4vw 12vw;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 601px) and (max-width: 800px) {
    .favoritesContainer {
        margin: 3.5vw 8vw;
    }
}
@media (max-width: 700px) {
    .favoritesContainer {
        margin: 3vw 7vw;
    }
}