.order_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.order {
  min-width: 6rem;
}

@media only screen and (max-width: 600px) {
  .order_container {
    margin-bottom: 1rem;
  }
  .order {
    min-width: 100%;
  }
}
