.container {
  width: 240px;
  height:390px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.26vw;
  margin: 0px 0.52vw;
}
.card {   
  background-color: #fff;
  height: 360px;
  width: 230px;
  border-radius: 30px;
  padding: 0px 0.52vw;
  box-shadow: 0.1vw 1vw 1vw rgba(0, 0, 0, 0.3), 0.1vw 0px 2.6vw rgba(0, 0, 0, 0.3);
  transition: all .4s ease-in-out;    
}
.card:hover {
  box-shadow: 0.15vw 1.146vw 1.146vw rgba(0, 0, 0, 0.3), 0.15vw 0px 2.865vw rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}
.card:hover .img {
  transform: rotate(-20deg);
  filter: drop-shadow(0.26vw 0.26vw 0.26vw #222);
}
.card:hover .img2 {
  transform: rotate(-20deg);
  filter: drop-shadow(0.26vw 0.26vw 0.26vw #222);
}
.product {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 2px #222);
  width: 210px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.img2{
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 2px #222);
  width: 275px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10%;
}
.title {   
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  text-align: center;
  height: 40px;
  margin: 0;
  padding: 5px;
  text-shadow: 3px 3px 4px rgba(0,0,0,0.25);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.details {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.details button {   
  width: 70%;
  padding: 6%;
  background: #5f27cd;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 13px;
  border-radius: 30px;
  font-weight: bolder;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all .3s ease-in-out;
}
.details button:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.3);
}
.price {   
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  text-shadow: 3px 2px 4px rgba(0,0,0,0.2)
}
.iconoutline {
  z-index: 3;    
  transition: all .2s ease-in-out;
  width: 30px;
  height: auto;
  margin-left: auto; 
  margin-right: 3%;
  margin-top: 6%;
}
.iconoutline:hover {
  transform: scale(1.1);
  color: #5f27cd;
  cursor: pointer;
}
.brand {
  width: 40px;
  height: auto;
  display: flex;
  margin-left: 6%;
  margin-top: 4%;
}
.header {
  display: flex;
}
.info {
  margin-top: 1.5%;
  margin-bottom: 6px;   
}
@media (min-width: 701px) and (max-width: 1000px) {
  .container {
    width: 192px;
    height: 312px;
    margin: 8px;
  }
  .card {
    width: 184px;
    height: 288px;
    border-radius: 24px;
    padding: 0px 8px;
  }
  .price {
    font-size: 14px;
  }
  .title {
    font-size: 13px;
    height: 31px;
    padding: 4px;
  }
  .details {
    margin-top: 8px;
  }
  .details button {
    font-size: 11px;
    border-radius: 24px;
  }
  .product {
    height: 136px;
  }
  .img {
    width: 168px;
  }
  .img2 {
    width: 220px;
  }
  .brand {
    width: 32px;
  }
  .iconoutline {
    width: 24px;
  }
  .info {
    margin-bottom: 5px;
  }
}
@media (min-width: 501px) and (max-width: 700px) {
  .container {
    width: 144px;
    height: 234px;
    margin: 6px;
  }
  .card {
    width: 138px;
    height: 216px;
    border-radius: 18px;
    padding: 0px 6px;
  }
  .price {
    font-size: 10.5px;
  }
  .title {
    font-size: 9.75px;
    height: 23.25px;
    padding: 3px;
  }
  .details {
    margin-top: 6px;
  }
  .details button {
    font-size: 8.25px;
    border-radius: 18px;
  }
  .product {
    height: 102px;
  }
  .img {
    width: 126px;
  }
  .img2 {
    width: 165px;
  }
  .brand {
    width: 24px;
  }
  .iconoutline {
    width: 18px;
  }
  .info {
    margin-bottom: 3.75px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 96px;
    height: 156px;
    margin: 4px;
  }
  .card {
    width: 92px;
    height: 144px;
    border-radius: 12px;
    padding: 0px 4px;
  }
  .price {
    font-size: 7px;
  }
  .title {
    font-size: 6.5px;
    height: 12px;
    padding: 2px;
  }
  .details {
    margin-top: 4px;
  }
  .details button {
    font-size: 5.5px;
    border-radius: 12px;
  }
  .product {
    height: 68px;
  }
  .img {
    width: 84px;
  }
  .img2 {
    width: 110px;
  }
  .brand {
    width: 16px;
  }
  .iconoutline {
    width: 12px;
  }
  .info {
    margin-bottom: 2px;
  }
}