.header {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  width: 7vw;
}

@media only screen and (max-width: 860px) {
  .header {
    padding: 0 0.5rem;
    grid-template-columns: 2fr 1fr 2fr;
  }

  .logo {
    text-align: center;
  display: flex;
  height: 50px;
  width: 50px;
    width: 10vw;
  }
}
