.filter_container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 820px) {
  .filter_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
